<!-- @if (authService.currentUserSig() == null) {
  <div>
    <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>
  </div>
}
@if (authService.currentUserSig()) {
  <div>
    <span (click)="logout()">Logout</span>
  </div>
} -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
  <span>PictureTagger</span>
  <div class="parent">
    <div class="children right-children">
      <div class="child text-button"><button mat-button routerLink="/register" routerLinkActive="active">Register</button></div>
      <div class="child text-button"><button mat-button>About</button></div>
      <div class="child text-button"><button mat-button>Contact</button></div>
      <div class="child">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item disabled>
      <mat-icon>dialpad</mat-icon>
      <span>Foo</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>notifications_off</mat-icon>
      <span>bar</span>
    </button>
  </mat-menu>
   </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet> 