<mat-toolbar color="primary">
  <mat-toolbar-row>
  <span>PictureTagger</span>
  <div class="parent">
    <div class="children right-children">
      @if (authService.currentUserSig() == null) {
          <div class="child text-button"><button mat-button routerLink="/login" routerLinkActive="active">Login</button></div>
          <div class="child text-button"><button mat-button routerLink="/register" routerLinkActive="active">Register</button></div>
      }
      @if (authService.currentUserSig()) {
        <div class="child text-button"><button mat-button (click)="logout()">Logout</button></div>
        <div class="child text-button"><button mat-button (click)="sendPic()">Send</button></div>
        <div class="child text-button"><button mat-button (click)="showHistory()">History</button></div>
      }
      <div class="child">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item disabled>
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>contact_support</mat-icon>
      <span>Contact</span>
    </button>
  </mat-menu>
   </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet> 