<form (submit)="onSubmit()" enctype="multipart/form-data" class="p-4 border rounded shadow-sm bg-light">
  <div class="form-group">
    <label for="image" class="form-label">Select an image:</label>
    <input type="file" class="form-control" id="image" accept="image/*" (change)="onFileSelected($event)">
    <!-- <div class="custom-file-input">
      <input type="file" id="image" accept="image/*" (change)="onFileSelected($event)">
      <label for="image">{{ selectedFileName ? selectedFileName : 'No file chosen' }}</label>
    </div> -->
  </div>
  <button type="submit" class="btn btn-primary mt-3" [disabled]="!selectedFile">Upload</button>
</form>

<div *ngIf="imageUrl" class="mt-4 text-center">
  <h4>Image Preview:</h4>
  <img [src]="imageUrl" class="img-thumbnail mt-2" alt="Selected image">
</div>
<app-pic-last-rec></app-pic-last-rec>